@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1603465757038');
    /* IE9 */
    src: url('iconfont.eot?t=1603465757038#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABqwAAAKIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBEIEcATYCJAMMCwgABCAFhG0HQxvnBREVjFWyL7Bt2APQGBautgKJD3jJGSIepIBAAQAAAADx8Pxav3PnvTWf/QkR63gT1eahkiAUS40ULO6AJyLsY6fbUg30qOMwSWvL0G+weQmc8Mw8W9Mx3B9GRKgu2fOtZ/kf+dWdpoPzOI1SCImQ5AxNrs9zOb0JdBbNb1lOe9OYk456AcYBBbQ3RpEVUcQNYxe4hMcE2pbYJA5Uh05pyqxVgXgU7l7XzEVlmRWaQr3mYBav1TSLl8V4FX4/ftgRgUItsTYeu3Pwlj3VzmpX4jm75BNiBHi8hoRNyMSZ2uwxSTAuaWezVexrVlA1n1PxPWKvgoL465z6LlgHcwUVV0ZQdUQBEqjn8+uwC7HlBSHKsks5c8adeHqns0HpZjilVUvKjD2f5mkVOnPKF37Ut+p5+b98ZrOdE6+elb+nz4OLvvhnzWH16s+Wgc3ulr/L56BnxQqfPXeN9TNpXCCkUQECQf3N+9dif5udDD4+WRS6sv6W5kl8wQ9T9+zLutZyp6yqXJXpTlZKUwAVPGDOCo59GW+Z9m4mNE1H+BsWp0iaVpGZ3YSajl2oa0LvRttG9fGOCXIWuYUN3gBh6INC3wckQ18ysz/ULPijbhhntJ2JyYUdayKI/YSS0YB6QdBDbx0vi6jxim5pJWW1ofCJNIcE5ElWLNTYI82xZV5dwWzB0tBBBZ7Dth1gpCGi5sQzj2Wa2ro3JXroDsJ+BEkMGUB5AYE26Fl/OBOlz18hZ9GSqIVXk39CZBbGB7lE1oOsTX0v3r28Mls5BcYsYJFBB1RgHmq1BmCsnxchjSX8iPSolNqDbF9Tsr6l+74j0GZNTlFEiqz9IsjoLOl5WC6Pvexdxnk4AA==') format('woff2'), url('iconfont.woff?t=1603465757038') format('woff'), url('iconfont.ttf?t=1603465757038') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1603465757038#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
    content: "\e733";
}

.icon-shangjiantou:before {
    content: "\e734";
}